# Information about samples
###########################
sample_directory: "/users/mmahmoud/home/projects/princess/samples" # samples by default should exist in this directory unless otherwise.
read_type: "pacbio" # ont or pacbio
sample_extension: "gz" # please add sample extension ex: fastq , fasta or gz # defaul gz
# sample list If specified this will overlap the default behavior which is all samples in directory specified above.
# If you leave empty the input will be all the samples in directory.
sample_list: []
###########################



# Information about reference
###########################
ref: ['37']
references:
  '37': "/users/mmahmoud/home/public_workplace/scripts/snakefiles/test/hs37d5_mainchr.fa"
  '38': "/users/sedlazec/ccdg_tech/reference/GRCh38-2.1.0/genome_mainchrs.fa"
chr_list:
  '37': [] #[1,2,3]
  '38': [] #[chr1,chr2]
###########################


# Samtools Parameters
#####################
samtools_threads: 5
#####################


# Aligner
#########
aligner: "minimap" # minimap or ngmlr
aligner_threads: 5
#########


# Structural Variant Parameters
###############################
sniffles_coverage: 3


# Calling Variant Parameters
############################
clair_coverage: 2
clair_threads: 5
clair_pypy: "/users/mmahmoud/home/source/Clair/pypy3/pypy3.5-7.0.0-linux_x86_64-portable/bin/pypy"
training_data_pacbio: "/users/mmahmoud/home/source/Clair/training_data/pacbio/rsii/model"
training_data_ont: "/users/mmahmoud/home/source/Clair/training_data/ont/r94/model"
clair_script: "/users/mmahmoud/home/source/Clair/clair.py"

# Update SNPs
#############
update_snps: False
paternal_snps: "/users/mmahmoud/home/projects/pacbio/Data_giab/HG003_NA24149_father/HG003_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X_CHROM1-22_v.3.3.2_highconf.vcf.gz"
maternal_snps: "/users/mmahmoud/home/projects/pacbio/Data_giab/HG004_NA24143_mother/HG004_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X_CHROM1-22_v.3.3.2_highconf.vcf.gz"


# Methylation
#############
methylation: True
fast5_dir:
  'gm12878.fastq.gz': "/users/mmahmoud/home/projects/ont_philipy/190125_breastPanel_gm12878_FriREDO_f5"  # 'sample': "directory"


# Zipping Parameters
####################
bgzip_threads: 5


# Scripts
##########
read_raw_coverage: "scripts/rawcoverage.py"
read_raw_coverage_threads: 5

updat_snps_script: "scripts/phasing_report_update_vcf.py"
updat_sv: "scripts/update_sv_hp_ps.py"
